.comment {
  &__item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &--author {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    &--date {
      font-size: 14px;
      color: #999;
      margin: 0;
    }
  }
  &__body {
    font-size: 16px;
    line-height: 1.5;

    &--text {
      margin: 0;
    }
  }

}
